$breakpoint-tablet: 600px;

$image_size: 2rem;
$padding_size: 1rem;

// device larger than tablet
// @media only screen and (min-width: $breakpoint-tablet) {

.link {
  text-decoration: none;
  color: white;
}

.active_link {
  color: rgb(117, 116, 116);
}

.logo {
  height: $image_size;
}

.nav_list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav_item {
  :hover {
    border-bottom: 1px solid white;
  }
  margin-right: 1rem;
}

.nav {
  display: flex;
  background-color: #0e1f58;
  height: $image_size + 2 * $padding_size;
  padding: $padding_size;
  justify-content: space-between;
}

// }
